[submodule "King/vendor/spdlog"]
	path = King/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "King/vendor/GLFW"]
	path = King/vendor/GLFW
	url = https://github.com/Maxoking/glfw
[submodule "King/vendor/ImGUI"]
	path = King/vendor/ImGUI
	url = https://github.com/Maxoking/imgui.git
[submodule "King/vendor/ImGuizmo"]
	path = King/vendor/ImGuizmo
	url = git@github.com:CedricGuillemet/ImGuizmo.git
